$base-red: #ea0000;
$wholeWidth: 596px;
$wholeHeight: 842px;

.drawing-t1 {
  width: $wholeWidth;
  height: $wholeHeight;
  margin: 0 auto;
  overflow: hidden;
}

.t1-section1 {
  height: 33.97%;
  display: flex;
  flex-direction: row;
  @at-root {
    $per: 65.77%;
    .t1-estate-photo {
      flex: 1 0 $per;
      position: relative;
      background-color: #ffffff;
    }

    .t1-estate-type {
      flex: 1 0 100%-$per;
      background-color: $base-red;
    }
  }
}

.t1-estate-type-c {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0 15px;
  font-family: 'SimHei';
}

.t1-estate-type-d {
  font-size: 34px;
}

.t1-estate-type-d2 {
  font-size: 24px;
  margin-top: 18px;
  font-weight: normal;
}

.t1-estate-type-d3 {
  font-size: 40px;
  margin-top: 10px;
}

.t1-estate-type-d4 {
  margin-top: 20px;
  & span {
    border: 1px dashed #949494;
    padding: 6px;
    cursor: pointer;
  }

  @at-root .selected-tag-list {
    & li {
      float: left;
      width: 85px;
      margin-bottom: 10px;
    }
    & li:nth-child(2n+1) {
      margin-right: 2px;
    }
  }
}

.t1-section2 {
  height: 22.33%;
  display: flex;
  @at-root {
    $per: 31.54%;
    .t1-qrcode {
      flex: 1 0 $per;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $base-red;
      & img {
        width: 81.91%;
        height: 81.91%;
      }
    }

    .t1-design-photo {
      position: relative;
      flex: 1 0 100%-$per;
    }
  }
}

.t1-section3 {
  height: 31.83%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.t1-footer {
  height: 11.88%;
  display: flex;
}

.t1-footer-d {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $base-red;
  background-color: #fff;
}

.t1-footer-d2 {
  width: 28.86%;
  background: $base-red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t1-estate-photo-img, .t1-design-photo-img {
  width: 100%;
  height: 100%;
}

.t1-upload {
  position: absolute;
  $wd: 94px;
  width: $wd;
  height: $wd;
  top: 50%;
  left: 50%;
  margin-top: -$wd / 2;
  margin-left: -$wd /2;
  cursor: pointer;
}

.undisplay {
  display: none;
}

.t1-estate-select {
  color: $base-red;
  font-size: 58px;
  cursor: pointer;
  border: 1px dashed #949494;
}

.t1-estate-price {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.t1-estate-price-show {
  color: #fff;
  background-color: #cc0000;
  $r: 85px;
  border-radius: 50%;
  display: inline-block;
  width: $r;
  height: $r;
  text-align: center;
  line-height: $r;
  font-size: 56px;
  font-weight: normal;
}

.ti-estate-price-detail {
  margin-left: 5px;
  font-size: 76px;
  color: #cc0000;
}

.t1-section4 {
  display: flex;
  flex-direction: column;
  $w2: 100px;
  $h2: 300px;
  position: absolute;
  right: 150px;
  top: 50%;
  margin-top: -$h2 / 2;
}

.btn-generate, .btn-print {
  background: $base-red;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.btn-print {
  margin-top: 50px;
}

.t1-estate-name {
  color: #cc0000;
  font-size: 58px;
  text-align: center;
}

@media print {
  .drawing-t1 {
    width: 100%;
  }
}
